.altaApp {
  margin: 0px 0px 0px 30px;
  .col-md-3 {
    margin: 10px 0px 0px 0px;
    input {
      width: 200px !important;
    }
    button {
      margin: 20px 0px 0px 50px;
      width: 250px !important;
      height: 40px !important;
    }
  }
}
