.editar-form {
  width: 350px !important;
  height: 250px;
  background-color: white;
  position: relative;
  margin: 0px;

  .editar-form-input {
    margin: 0px 0px 0px 80px;
    width: 300px !important;
    height: 80px;
  }
  .editar-form-button {
    margin: 20px 0px 0px 110px;
  }
}
