.top-menu {
  .top-menu_h2 {
    float: left;
    color: #d8d4d3;
    margin: 0px 0px 0px 70px;
  }
  .top-menu_login {
    float: left;
    margin: 0px 0px 0px 70px;
  }

  .top-menu_cuenta {
    float: left;
    margin: 0px 0px 0px 70px;
  }
  .top-menu_close {
    float: left;
    margin: 0px 0px 0px 70px;
  }

  .top-menu_alta {
    float: left;
    margin: 0px 0px 0px 70px;
  }
}
